.header{
display: flex;
align-items: center;
justify-content: center;
gap: 20px;
}

.link {
    list-style: none;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    color: black;
    text-decoration: none;

}

li:hover{
    color: gray;
}


.active-link{
    color: red;
}